header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-one;
  position: relative;
  .header-images {
    width: 100%;
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    img {
      margin: 3%;
      height: 350px;
      &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
        height: 230px
      }
    }
  }


  #line {
    display: none;
    position: absolute;
    top: 62%;
    left: 39%;
    height: 2px;
    width: 200px;
    z-index: 5;
    background-image: url("../img/card_back2.png");
    background-size: cover;
  }
  // .grow {
  //   transform: scale(2.0);
  //   -webkit-transform: scale(2.0) rotate(180deg);
  // }
  // button {
  //   position: absolute;
  //   right: -200px;
  //   bottom: 10px;
  // }
}
