header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-one;
  position: relative;
  .header-images {
    width: 100%;
    padding-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    img {
      margin: 3%;
      height: 350px;
      &:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4) {
        height: 230px
      }
    }
  }
  #show {
    display: none;
    height: 258.5px;
    position: absolute;
    bottom: -11%;
    left: 43%;
    z-index: 100;
  }
  #line {
    display: none;
    -webkit-animation: flip-line 7s linear 1;
    -webkit-perspective: 500px;
    position: absolute;
    top: 57%;
    left: 40%;
    height: 250px;
    width: 408px;
    z-index: 5;
    background-image: url("../img/card_back2.png");
    background-size: cover;
  }
}

@-webkit-keyframes flip-line {
  0% { -webkit-transform:rotateX(90deg) ; }
  90% { -webkit-transform:rotateX(170deg); }
  100% { -webkit-transform: rotateX(190deg); }
}
