@import "normalize";
@import "variables";
@import "header";
@import "form";
@import "layout";
@import url('https://fonts.googleapis.com/css?family=Muli');

body {
  background-color: $color-one;
  font-family: 'Muli', sans-serif;
  button img {
    width: 250px;
    z-index: 20;
  }
  .rotated {
    transform: rotate(360deg);
    transition-duration: 5s;
  }
}
